
<%include partials/normalheader%>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Teacher's App</h1>
            <p>View our current directory of students</p>
            <p>
                <a class="btn btn-primary btn-large" href="/students/new">Add New Student</a>
            </p>
        </div>
    </header>

    <table class="table table-striped table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Math Level</th>
            <th>English Level</th>
        </tr>
        </thead>
        <tbody>
        <% students.forEach(function(student){%>
        <tr>
        <td><%=student.firstname %></td>
        <td><%=student.lastname %></td>
        <td><%=student.math_level %></td>
        <td><%=student.english_level %></td>
        </tr>
        <%console.log(student)%>
        <%})%>
        </tbody>
    </table>
</div>
<%include partials/footer%>